* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #49d3c7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 90%;
    background: #49d3c7;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 90px;
    width: 100%;
    background: #49d3c7;
    color: #fff;
    padding: 0 2rem; 
}

.botao-sair img {
    height: 50px; 
    margin-right: 20rem; 
}

.imgTitulo {
    display: flex;
    font-size: 2rem; 
    color: #fff; 
    align-items: center;
}

.imgTitulo p {
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    gap: 4rem;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    margin-top: 1rem;
}

.square {
    height: 90px;
    width: 90px;
    border: 1px solid #49d3c7;
    background-color: #49d3c7;
    cursor: pointer;
}

.enemy {
    background-image: url("../imagem/galinha.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ovo {
    background-image: url("../imagem/ovo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.vitoria {
    background-image: url("../imagem/backJogo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    gap: 20px;
    text-align: center;
    flex-direction: column;
    width: 50vw;
    height: 40vh;
    font-size: 2rem;
}

.oculto {
    display: none;
}

.btnReiniciar {
    margin-top: 8rem;
}

#reiniciarJogo {
    color: #49d3c7;
    background-color: rgb(16, 14, 141);
    border-radius: .5rem;
    width: 10rem;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 10px;
    }

    .imgTitulo {
        font-size: 1.2rem;
    }

    .info {
        font-size: 1rem;
    }

    .panel {
        width: 100vw;
        height: calc(100vh - 1rem);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }

    .square {
        height: calc(100vh / 15);
        width: calc(100vh / 15);
    }

    .vitoria {
        width: 80vw;
        height: 20vh;
        font-size: 1rem;
    }
    
    .btnReiniciar {
        margin-top: 3rem;
    }

    #reiniciarJogo {
        width: 5rem;
        font-size: 1rem;
    }

    .botao-sair img {
        margin-right: 2rem; 
    }
}
