body {
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #49d3c7;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #49d3c7;
    color: #fff;
}

.dedicatoria{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #49d3c7;
    color: #fff;
}

.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 90px;
    width: 90px;
    border: 1px solid #49d3c7;
    background-color: #49d3c7;
    cursor: pointer;
}

.enemy{
    background-image: url("../imagem/galinha.png");
    background-size: cover;
}

.ovo{
    background-image: url("../imagem/ovo.png");
    background-size: cover;
}

.menu-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second{
    margin-top: 1rem;
}

.btn {
    height: 60px;
    width: 180px;
    border: 1px solid #d4cfcf2a;
    background-color: #000000;
    color: #fff;
    text-decoration: arial;
    border-radius: 10px;
    box-shadow: 0 4px 8px #cec9c9b2;
    cursor: pointer;
}

.vitoria{
    background-image: url("../imagem/backJogo.png");
    background-size: 100%;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 80px 230px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    gap: 40px;
    text-align: center;
    flex-direction: column;
}

.oculto {
    display: none;
  }
