/* Container para alinhar título e app verticalmente */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    gap: 0;
    padding-top: 18vh;
}
