@import url('reset.css');

body {
  background-color: black;
}

html {
  scroll-behavior: smooth; /* Adiciona o efeito de rolagem suave globalmente */
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 48px;
  list-style: none;
}

.navegacao_link{
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  transform: scale(1.2);
  text-transform: uppercase;
}

.navegacao_link:hover{
  color: #33A8DB;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: #33A8DB;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

p {
  color: white;
}

section {
  margin: 100px auto;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
  color: white;
  width: 600px;
  margin: auto;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
}

.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(146, 193, 231, 0.8)) brightness(1.2);
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);
}

.banner .banner-content button {
  color: #1a7097;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  letter-spacing: 4px;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: none;
}

.banner .banner-content button :hover{
  color: #1a7097;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 16px 32px;
  letter-spacing: 4px;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}

#tech-content {
  width: 800px;
  text-align: center;
}

#tech-content .tech-list {
  margin: 24px 0;
  
}

#tech-content .tech-list .tech {
  color: white;
  width: 500px;
  margin: 0 auto 24px;
  border: 1px solid #33A8DB;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#tech-content .tech-list .tech:hover {
  transition: 0.8s;
  width: 550px;
  padding: center;
}


#tech-content .tech-list .tech a {
  color: #33A8DB;
  text-decoration: none;
}

#noticias {
  height: 700px;
  width: 100vw;
  background-size: cover;
  background-image: url("../images/codigos.jpeg");
  background-attachment: fixed;
  border-top: 1px solid #33A8DB80;
  border-bottom: 1px solid #33A8DB80;
  padding: 150px;
}

.news-container {
  display: flex;
  gap: 20px;
}

.news {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
}

.news img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  border-color: black;
}

.news h2{
  color: #000;
  font-size: 18px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: gray;
  text-align: center;
}

.news p {
  font-family: arial, 'sans serif';
  color: black; 
  text-align: justify;
}

.news a {
  text-decoration: none;
}

#certificados {
  font-family: Calibri, 'Trebuchet MS';
  padding: 60px 10px;
  text-align: center;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 40%;
  color: #fff;
  border-top: 1px solid #33A8DB80;
  width: 100vw;
}

#certificados h2 {
  padding: 0px 30px;
}

.column {
  flex-basis: 48%;
}

#meu-repositorio {
  text-align: center;
  width: 100vw;
}

#meu-repositorio img {
  margin: 32px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  width: 100vw;
  border-top: 1px solid #33A8DB80;
}

footer .logo {
  width: 100px;
}

footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}

.galeria img {
  filter: drop-shadow(10px, 3px, 1px #87ceeb);
}
