@import url('reset.css');

body {
  background-color: black;
  width: 100vw;
}

html {
  scroll-behavior: smooth; /* Adiciona o efeito de rolagem suave globalmente */
}
 
.navegacao {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  list-style: none;
  font-size: 20%;
}

.navegacao_link{
  font-size: 0.9rem;
  letter-spacing: 0.125rem;
  color: #fff;
  position: relative;
  -webkit-text-stroke-width: 0.03125rem;
  -webkit-text-stroke-color: #000;
  transform: scale(1.2);
  text-transform: uppercase;
}

.navegacao_link:hover{
  color: #33A8DB;
  font-weight: bold;
}

h2 {
  font-size: 200%;
  color: #33A8DB;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

p {
  color: white;
  width: 100vw;
}

section {
  margin: 6.25rem auto;
  width: 100%;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
  background-size: auto;
  background-repeat: no-repeat;
  height: 40.625rem;
  width: 100%;
  padding-top: 3.75rem;
  border-bottom: 0.0625rem solid #33A8DB80;
}

.banner .banner-content {
  color: white;
  width: 100vw;
  margin: auto;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.03125rem;
  -webkit-text-stroke-color: #000;
}

.banner p {
  font-size: 1.25rem;
  margin: 1rem 0 1.5rem;
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 16.25rem;
  width: 16.25rem;
  margin: auto;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(146, 193, 231, 0.8)) brightness(1.2);
  clip-path: polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%);
}

.banner .banner-content button {
  color: #1a7097;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  letter-spacing: 0.25rem;
  background-color: transparent;
  border-radius: 0.625rem;
  text-decoration: none;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(90, 86, 86, 0.5);
}

.banner .banner-content button :hover{
  color: #1a7097;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  letter-spacing: 0.25rem;
  background-color: transparent;
  border-radius: 0.625rem;
  text-decoration: none;
  transition: 0.5s;
}

#main {
  width: 100%;
}

#tech-content {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  background: rgb(11,63,93);
  background: radial-gradient(circle, rgba(11,63,93,0.9248074229691877) 0%, rgba(0,9,0,1) 100%);
  border-radius: 1.25rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem rgba(90, 86, 86, 0.5);
}

#tech-content h2 {
  font-size: 200%;
}

#tech-content .tech-list .tech a {
  color: #33A8DB;
  text-decoration: none;
}

.galeria {
  -webkit-text-stroke-width: 0.03125rem;
  -webkit-text-stroke-color: #000;
  letter-spacing: 0.625rem;
  font-size: 1.5rem;
  padding: 0.625rem 0.625rem ;
}

.galeria img:hover{
  scale: 1.2;
  transition: 0.5s;
} 

#meus_jogos {
  height: 43.75rem;
  width: 100vw;
  background-size: cover;
  background-image: url("../images/codigos.jpeg");
  background-attachment: fixed;
  border-top: 0.0625rem solid #33A8DB80;
  border-bottom: 0.0625rem solid #33A8DB80;
  padding: 10% 3% 10% 3%;
}

.link_game{
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 2%;
  align-items: center;
  text-align: justify;
}

.meus_jogos__container {
  display: flex;
  gap: 1.25rem;
  height: auto;
}

.meus_jogos_container__jogo {
  padding: 1%;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 0.625rem;
  overflow: auto;
}

.meus_jogos_container__jogo img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.0625rem;
  border-color: black;
}

.meus_jogos_container__jogo h2{
  color: #000;
  font-size: 75%;
  -webkit-text-stroke-width: 0.03125rem;
  -webkit-text-stroke-color: gray;
  text-align: center;
}

.meus_jogos_container__jogo p {
  font-family: arial, 'sans serif';
  color: black; 
  text-align: justify;
}

.meus_jogos_container__jogo a {
  text-decoration: none;
  align-items: center;
  text-align: justify;
}

#certificados {
  font-family: Calibri, 'Trebuchet MS';
  padding: 0% 1% 0% 1%;
  text-align: center;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 40%;
  color: #fff;
  width: 100vw;
}

@media (max-width: 700px) {
  .meus_jogos_container__jogo{
    width: 20%;
    max-height: 100vh;
  }
  #certificados {
    flex-direction: column;
    align-items: center;
  }
  .link_game{
    position: relative;
  }
  #meu-repositorio h2{
    font-size: 150%;
  }
  p{
    word-wrap: break-word;
  }
}

#certificados h2 {
  text-align: left;
  padding: 0rem 1.875rem;
  justify-content: center;
}

.column {
  flex-basis: 48%;
}

#meu-repositorio {
  text-align: center;
  width: 100vw;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: 6% 3%;
}

#meu-repositorio h2 {
  width: 80%;
  padding-left: 20%;
}

#meu-repositorio p {
  margin-top: 0.93357rem; 
}

#meu-repositorio video {
  margin: 1rem;
  width: 45%;
  border-radius: 0.625rem;
  box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem rgba(90, 86, 86, 0.5);
  padding: 1%;
}

.videos-container {
  display: flex;
}

footer {
  padding: 3rem;
  text-align: center;
  background-size: 100%;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  width: 100vw;
  border-top: 0.0625rem solid #33A8DB80;
  margin-bottom: -10rem;
}

footer .logo {
  width: 6.25rem;
}
