body{
    min-height: 100vh;
    min-width: 100vw;
}

.bg-video{
    position: absolute;
    z-index: -2;
    width: 120vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bg-video .video{
    height: 100vh;
    width: 100vw;
}

.bg-video::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(0,0,0,1)0%, rgba(0,0,0,0.6)50%, rgba(0,0,0,0.8)100%);
}

.container{
    position: relative;
    z-index: 3;
    display: flex;
    height: 100vh;
}

.container__left{
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container__right{
    width: 65%;
}

.score_box{
    background-color: #fff;
    padding: 30px;
}

.frame{
    border: 3px solid #000;
    border-radius: 5px;
}

.card_details{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100;
}

#card-name{
    font-size: 0.8rem;
}

#card-type{
    font-size: 1rem;
}

.card-box__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1rem;
}

.card-versus__container{
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
    height: 300px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.versus-top, 
.versus-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.card-versus-bottom{
    margin-top: 1rem;
}

#next-duel{
    display: none;
    cursor: pointer;
}

.card-box{
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.card-infield{
    height: 11.2rem;
    width: 8rem;
    border-radius: 8px;
    border: 1px solid #fff;
}

.card{
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.botao-retorno img {
    width: 3.125rem; 
    height: 3.125rem; 
    filter: drop-shadow(0rem 0rem 0.625rem rgba(0, 255, 255, 0.5)); 
    transition: transform 0.3s; 
}
  
.botao-retorno {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; 
    cursor: pointer;
}