body{
    background-image: url('../assets/icons/camuflado-azul.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section{
    position: relative;
    max-width: 400px;
    border: 2px solid #808080;
    background-color: rgba(75, 73, 73, 0.7);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem, 3rem;
    box-shadow: 10px 10px 10px 10px #f1ecec77;
    padding: 20px;
}

h1{
    font-size: 2.2rem;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #fff;
    text-shadow: 10px 10px 20px rgb(241, 236, 236);;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color:#000;
    font-size: 1.3rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    -webkit-text-stroke-width: 0.09px;
    -webkit-text-stroke-color: #fff;
}

input:focus ~ label, 
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 300px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #000;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label{
    display: flex;
    align-items: center;
}

.forget label input{
    margin-right: 3px;
}

.forget a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover{
    text-decoration: underline;
}

.btnEntrar{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btnEntrar:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.register{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.container_left {
    position: relative;
    z-index: 3;
    display: flex;
    height: 100vh;
}

.botao-retorno img {
    width: 3.125rem; 
    height: 3.125rem; 
    filter: drop-shadow(0rem 0rem 0.625rem rgba(0, 255, 255, 0.5)); 
    transition: transform 0.3s; 
}
  
.botao-retorno {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; 
    cursor: pointer;
}



